*
{
    padding: 0;
    margin: 0;
}

main{background:url("image/Без имени-2.jpg")}
main{
    height: 580px;
    margin: 0px;
}
.logo
{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
.logo1
{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
.kk
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.center
{
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.center h1
{
    color: aqua;
    margin-left: 350px;
    margin-top: 300px;
}

a
{
    color: black;
    margin-left: 12px;
    font-size: 20px;
}

.button
{
    display: inline-block;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 8px 60px;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: aqua;
    border-radius: 6px;
    background: aqua;
    transition: 0.2s;
    margin-left: 350px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.container2
{

}

.center2
{
    margin-top: 60px;

}
.center h2
{
margin-left: 50px;
}
.center3
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.center4
{
    display: block;
    justify-content: space-around;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.center4 img
{
    width: 50%;
}
.center4 h3
{

}
.center5
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.center5 p
{
    font-size: 25px;
    margin-bottom: 50px;
    text-align: justify;
}

.color
{
    background: aqua;
}
.button1
{
    display: inline-block;
    color: black;
    font-size: 18px;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: white;
    background: aqua;
    transition: 0.2s;
}
.ram
{
    border: 3px solid transparent;
}
.ram:hover {
    border: 3px solid aqua;
}
.brend
{
   font-size: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: justify;

}

.center6
{

}
.image
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}
.image.holder{
    width: 33%;

}
.holder img
{
    width: 80%;
}
.holder image
{
    width: 100%;
}

.image img:hover {

    filter: alpha(Opacity=25);/* прозрачность для IE */

    opacity: 0.25;}

.holder{
    position:relative;
    width:25%;
    text-align: center;
    align-items: center;
    background: rgba(255,255,255, 0.7);

}

.block{
    position:absolute;
    left:0;
    bottom:50%;
    right:0;
    display:none;
    text-align: center;

}

.holder:hover .block{
    display:block;
}

.footer
{
    background: #d2d2d2;
    width: 100%;
}

.center33
{
    display: flex;
    justify-content: space-around;
}

.center7
{
    display: block;
    justify-content: space-around;
    text-align: center;
    color: black;
    width: 33%;
    margin-top: 50px;
    margin-bottom: 50px;

}
.center8
{
    display: block;
    justify-content: space-around;
    text-align: center;
    color: black;
    width: 33%;
    margin-top: 80px;
    margin-bottom: 80px;

}

.center7 h4
{
    margin-top: 15px;
    margin-bottom: 20px;
}
.center7 img
{
    width: 10%;
}
.center33 h4
{
    margin-top: 15px;
    margin-bottom: 20px;
}
.center7 h3
{
   font-size: 25px;

}
.center6 h2
{
    margin-top: 50px;
}
.brend a
{
    font-size: 25px;
}

.color_brend
{
    background: #d2d2d2;
}


#menu__toggle {
    opacity: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: absolute;
    top: 16px;
    left: 3px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    transition: top 0.3s;
}
.showmobile { display: none; }
@media only screen
and (min-width : 120px)
and (max-width : 750px){ .showmobile { display: block; }}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
.home{
    position: fixed;
    top: 90%;
    right: 0%;
}
/* контейнер меню */
.menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 52px;
    left: -100%;
    width: 300px;
    height: 32%;

    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.menu__item {
    display: block;
    padding: 12px 30px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
.menu__item:hover {
    background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
:root {
	--card-width: 200px;
	--card-height: 300px;

	--card-transition-duration: 800ms;
	--card-transition-easing: ease;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.787);
	overflow: hidden;
}

button {
	border: none;
	background: none;
	cursor: pointer;
	&:focus {
		outline: none;
		border: none;
	}
}

.app {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -5;
		filter: blur(8px);
		pointer-events: none;
		user-select: none;
		overflow: hidden;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: #000;
			z-index: 1;
			opacity: 0.8;
		}

		&__image {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
			width: 180%;
			height: 180%;
			transition: transform 1000ms ease, opacity 1000ms ease;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			&.current--image {
				opacity: 1;
				--image-translate-offset: 0;
			}
			&.previous--image,
			&.next--image {
				opacity: 0;
			}
			&.previous--image {
				--image-translate-offset: -25%;
			}
			&.next--image {
				--image-translate-offset: 25%;
			}
		}
	}
}

.cardList {
	position: absolute;
	width: calc(3 * var(--card-width));
	height: auto;

	&__btn {
		--btn-size: 35px;
		width: var(--btn-size);
		height: var(--btn-size);
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 100;

		&.btn--left {
			left: -5%;
		}
		&.btn--right {
			right: -5%;
		}

		.icon {
			width: 100%;
			height: 100%;
			svg {
				width: 100%;
				height: 100%;
			}
		}
	}

	.cards__wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		perspective: 1000px;
	}
}

.card {
	--card-translateY-offset: 100vh;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) translateX(var(--card-translateX-offset))
		translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset))
		scale(var(--card-scale-offset));
	display: inline-block;
	width: var(--card-width);
	height: var(--card-height);
	transition: transform var(--card-transition-duration)
		var(--card-transition-easing);
	user-select: none;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #000;
		z-index: 1;
		transition: opacity var(--card-transition-duration)
			var(--card-transition-easing);
		opacity: calc(1 - var(--opacity));
	}

	&__image {
		position: relative;
		width: 100%;
		height: 100%;
		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&.current--card {
		--current-card-rotation-offset: 0;
		--card-translateX-offset: 0;
		--card-rotation-offset: var(--current-card-rotation-offset);
		--card-scale-offset: 1.2;
		--opacity: 0.8;
	}

	&.previous--card {
		--card-translateX-offset: calc(-1 * var(--card-width) * 1.1);
		--card-rotation-offset: 25deg;
	}

	&.next--card {
		--card-translateX-offset: calc(var(--card-width) * 1.1);
		--card-rotation-offset: -25deg;
	}

	&.previous--card,
	&.next--card {
		--card-scale-offset: 0.9;
		--opacity: 0.4;
	}
}

.infoList {
	position: absolute;
	width: calc(3 * var(--card-width));
	height: var(--card-height);
	pointer-events: none;

	.info__wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
	perspective: 1000px;
	transform-style: preserve-3d;
	}
}

.info {
	margin-bottom: calc(var(--card-height) / 8);
	margin-left: calc(var(--card-width) / 1.5);
	transform: translateZ(2rem);
	transition: transform var(--card-transition-duration)
		var(--card-transition-easing);
	.text {
		position: relative;
		font-family: "Montserrat";
		font-size: calc(var(--card-width) * var(--text-size-offset, 0.2));
		white-space: nowrap;
		color: #fff;
		width: fit-content;
	}

	.name,
	.location {
		text-transform: uppercase;
	}

	.location {
		font-weight: 800;
	}

	.location {
		--mg-left: 40px;
		--text-size-offset: 0.12;
		font-weight: 600;
		margin-left: var(--mg-left);
		margin-bottom: calc(var(--mg-left) / 2);
		padding-bottom: 0.8rem;
		&::before,
		&::after {
			content: "";
			position: absolute;
			background: #fff;
			left: 0%;
			transform: translate(calc(-1 * var(--mg-left)), -50%);
		}
		&::before {
			top: 50%;
			width: 20px;
			height: 5px;
		}
		&::after {
			bottom: 0;
			width: 60px;
			height: 2px;
		}
	}

	.description {
		--text-size-offset: 0.065;
		font-weight: 500;
	}

	&.current--info {
		opacity: 1;
		display: block;
	}
	&.previous--info,
	&.next--info {
		opacity: 0;
		display: none;
	}
}

.loading__wrapper {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #000;
	z-index: 200;
	.loader--text {
		color: #fff;
		font-family: "Montserrat";
		font-weight: 500;
		margin-bottom: 1.4rem;
	}
	.loader {
		position: relative;
		width: 200px;
		height: 2px;
		background: rgba(255, 255, 255, 0.25);
		span {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgb(255, 0, 0);
			transform: scaleX(0);
			transform-origin: left;
		}
	}
}

@media only screen and (min-width: 800px) {
	:root {
		--card-width: 250px;
		--card-height: 400px;
	}
}

.support {
	position: absolute;
	right: 10px;
	bottom: 10px;
	padding: 10px;
	display: flex;
	a {
		margin: 0 10px;
		color: #fff;
		font-size: 1.8rem;
		backface-visibility: hidden;
		transition: all 150ms ease;
		&:hover {
			transform: scale(1.1);
		}
	}
}

